doctype html
html
    head
        meta(charset='utf-8')
        link(href='../css/reset.css',rel='stylesheet')
        link(href='../css/header.css',rel='stylesheet')
        link(href='../css/sign.css',rel='stylesheet')
        link(href='../common/layui/css/layui.css',rel='stylesheet')
        link(href='../iconfont/iconfont.css',rel='stylesheet')
    body
        .container-head#headerApp
            .approve-wrapper(style='display:none;',v-show="loginIndex=='5'")
                h2.title 请先进行债权认证
                .input-wrapper
                    label 债权人姓名
                    input(placeholder='请输入')
                .input-inline
                    .input-confrim-btn 确定
            .dialog#dialogLogin(style='display:none;',v-show="loginIndex=='0'")
                .dialog-info
                .dia-content
                    .diaTop(@click="closeAllAlertCon")
                        img(src="../img/delete.png")
                    .diaLogo
                        img(src="../img/logo.png")
                    .dia-main
                        form
                            ul.sign
                                li(style="padding-left:124px;text-align:left")
                                    input(type="text",placeholder="手机号",:class="{'validate-color':!validatorLoginUser.phone}",v-model="loginUser.phone",@blur="validatorLoginUser.phone=/^\\S+/.test(loginUser.phone)")
                                    span(v-show="!validatorLoginUser.phone&&isShowError",style="color:#f00") 手机号不能为空
                                li(style="padding-left: 124px;text-align: left")
                                    input(type='password',:class="{'validate-color':!validatorLoginUser.password}",placeholder="密码",v-model="loginUser.password",@blur="validatorLoginUser.password=/^\\S+/.test(loginUser.password)")
                                    span(v-show="!validatorLoginUser.password&&isShowError",style="color: #f00;") 密码不能为空
                                li.sign-check(style="padding-left: 124px;text-align: left")
                                    input#checkText(type='text',v-model="loginUser.code",:class="{'validate-color':!validatorLoginUser.code}",@blur="validatorLoginUser.code=/^\\S+/.test(loginUser.code)",placeholder="验证码")
                                    span.checkCode(style="background:none;")
                                        img(:src="picCode",style="width:100%,height:100%",@click='updatePicCode')
                                    span.notesee(@click='updatePicCode') 看不清楚，换一张
                                    span(v-show="!validatorLoginUser.code&&isShowError",style="color: #f00;") 验证码不能为空
                                li
                                    .submit(@click="userLogin") 请登录
                                li 
                                    span.forgetPwd.color(@click="loginIndex='1'") 忘记密码
                                    span.dialogin.color(@click="loginIndex='2'") 点击注册
            .dialog#dialogReset(style='display:none;',v-show="loginIndex=='1'")
                .dialog-info
                .dia-content
                    .diaTop(@click="closeAllAlertCon")
                        img(src="../img/delete.png")
                    .diaLogo
                        img(src="../img/logo.png")
                    .dia-main
                        form
                            ul.sign
                                li(style="padding-left:124px;text-align:left")
                                    input(type="text",placeholder="注册手机号",:class="{'validate-color':!validatorResetUser.phone}",v-model="resetUser.phone",@blur="validatorResetUser.phone=/^\\S+/.test(resetUser.phone)")
                                    span(v-show="!validatorResetUser.phone&&isShowError",style="color:#f00") 手机号不能为空
                                li.sign-check(style="padding-left: 124px;text-align: left")
                                    input#checkText(type='text',v-model="resetUser.code",:class="{'validate-color':!validatorResetUser.code}",@blur="validatorResetUser.code=/^\\S+/.test(resetUser.code)",placeholder="验证码")
                                    span.checkCode(style="background:none;")
                                        img(:src="picCode",style="width:100%,height:100%",@click='updatePicCode')
                                    span.notesee(@click='updatePicCode') 看不清楚，换一张
                                    span(v-show="!validatorResetUser.code&&isShowError",style="color: #f00;") 验证码不能为空
                                li.phone-check(style="padding-left:124px;text-align:left")
                                    input(type="text",placeholder="短信验证码",:class="{'validate-color':!validatorResetUser.phonecode}",v-model="resetUser.phonecode",@blur="validatorResetUser.phonecode=/^\\S+/.test(resetUser.phonecode)")
                                    .checkbtn(@click="getResetMesscode",v-text="resetMessageCode")
                                li(style="padding-left: 124px;text-align: left")
                                    input(type='password',:class="{'validate-color':!validatorResetUser.password}",placeholder="密码",v-model="resetUser.password",@blur="validatorResetUser.password=/^\\S+/.test(resetUser.password)")
                                    span(v-show="!validatorResetUser.password&&isShowError",style="color: #f00;") 密码不能为空
                                li(style="padding-left: 124px;text-align: left")
                                    input(type='password',:class="{'validate-color':!validatorResetUser.conPassword}",placeholder="密码",v-model="resetUser.conPassword",@blur="validatorResetUser.conPassword=/^\\S+/.test(resetUser.conPassword)")
                                    span(v-show="!resetUser.conPassword",style="color: #f00;") 不能为空   
                                    span(v-show="resetUser.conPassword!=resetUser.password&&isShowError",style="color: #f00;") 两次密码不一致   
                                li
                                    span.reset(@click="resetPassword") 立即重置
            .dialog#dialogReset(style='display:none;',v-show="loginIndex=='2'")
                .dialog-info
                .dia-content
                    .diaTop(@click="closeAllAlertCon")
                        img(src="../img/delete.png")
                    .diaLogo
                        img(src="../img/logo.png")
                    .dia-main
                        form
                            ul.sign
                                li(style="padding-left:124px;text-align:left")
                                    input(type="text",placeholder="注册手机号",:class="{'validate-color':!validatorRegisterUser.phone}",v-model="registerUser.phone",@blur="validatorRegisterUser.phone=/^\\S+/.test(registerUser.phone)")
                                    span(v-show="!validatorRegisterUser.phone&&isShowError",style="color:#f00") 手机号不能为空
                                li.sign-check(style="padding-left: 124px;text-align: left")
                                    input#checkText(type='text',v-model="registerUser.code",:class="{'validate-color':!validatorRegisterUser.code}",@blur="validatorRegisterUser.code=/^\\S+/.test(registerUser.code)",placeholder="验证码")
                                    span.checkCode(style="background:none;")
                                        img(:src="picCode",style="width:100%,height:100%",@click='updatePicCode')
                                    span.notesee(@click='updatePicCode') 看不清楚，换一张
                                    span(v-show="!validatorRegisterUser.code&&isShowError",style="color: #f00;") 验证码不能为空
                                li.phone-check(style="padding-left:124px;text-align:left")
                                    input(type="text",placeholder="短信验证码",:class="{'validate-color':!validatorRegisterUser.phonecode}",v-model="registerUser.phonecode",@blur="validatorRegisterUser.phonecode=/^\\S+/.test(registerUser.phonecode)")
                                    .checkbtn(@click="getMesscode",v-text="registerMessageCode")
                                li(style="padding-left: 124px;text-align: left")
                                    input(type='password',:class="{'validate-color':!validatorRegisterUser.password}",placeholder="密码",v-model="registerUser.password",@blur="validatorRegisterUser.password=/^\\S+/.test(registerUser.password)")
                                    span(v-show="!validatorRegisterUser.password&&isShowError",style="color: #f00;") 密码不能为空
                                li(style="padding-left: 124px;text-align: left")
                                    input(type='password',:class="{'validate-color':!validatorRegisterUser.conPassword}",placeholder="密码",v-model="registerUser.conPassword",@blur="validatorRegisterUser.conPassword=/^\\S+/.test(registerUser.conPassword)")
                                    span(v-show="!registerUser.conPassword&&isShowError",style="color: #f00;") 不能为空   
                                    span(v-show="registerUser.conPassword!=registerUser.password&&isShowError",style="color: #f00;") 两次密码不一致   
                                p.checkagree
                                    span.agree(style="cursor:pointer;",@click="isSelecterAgree=!isSelecterAgree",v-text="isSelecterAgree?'√':''")
                                    span.file 阅读并同意
                                        span.sign-file(style="cursor:pointer;",@click="agreeHtml") 《e+便利用户注册协议》
                                li
                                    span.reset(@click="registerUserInfo") 注册

            header
                .wd-title-bg
                    .wd-title-container
                        ul.left-logo-name
                            li.wd-common-name(style="display:none;")
                                a(href="index.html")
                                    i.iconfont.icon-dingwei(style="color:#f00;")
                                    span 郑州
                            li.wd-common-login(v-show="!isLogin")
                             a(style="cursor: pointer;",@click="loginIndex='0'") 请登录
                            li.wd-common-login(v-show="isLogin")
                             a(style="cursor: pointer;",@click="loginIndex='0'",v-text="loginUserName") 
                            li.wd-common-login(v-show="isLogin") ,欢迎您
                             a(style="cursor: pointer;",@click="exit") 退出
                        ul.right-menu-area
                            li.wd-mye
                                a(@click="gotoPersonCenter",style="cursor:pointer;") 个人中心
                .wd-logo-container
                    .logoImage
                        a(href="index.html")
                            img(src='../img/header/logo.png')
                    .bar-code-view
                        img(src="../img/link-code.png")
                    .obligation-btn(style='cursor:pointer;',@click="gotoAuthorMoney")
                        img(src='../img/obligation.png')
        block content 
        script(src="../js/jquery.js",type="text/javascript")
        script(src="../layer/layer.js",type="text/javascript")
        script(src="../common/layui/layui.js",type="text/javascript")
        footer(style="display:none;")
            .foot-serve
                .foot-serve-top.clearfix(style="display:none")
                    .barcode
                    - var serCon1=['购物指南','购物流程','购物指南']; 
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                .foot-serve-bottom
                    img(src='../img/footer.png')
            .foot-about-bg
                .foot-about   
                    - var footInfo=['©2017 e+.RIGHT','ICP备案号：豫ICP备15016705号-4',''];
                    each item in footInfo
                        a #{item}         