extends header
block content
    div#app
        .wd-nav-area-bg
            ul.wd-nav-area
                - var navlist=[{id:'category',name:'全部分类'},{id:'111',name:'首页'},{id:'food',name:'美食'}];
                each item,index in navlist
                    if index==0
                        li.all-category
                            a.allcat #{item.name}
                            dl.menuList(style="display:none;")
                                block menulist
                                    dd
                                        a.mainTitle 美食
                                        p 
                                            a 精选品牌
                                            a 小吃快餐
                                block menulist
                                block menulist
                                block menulist
                                block menulist
                    else 
                        li
                            a(href='\##{item.id}') #{item.name}
        .obligation-goods-bg
            .obligation-goods-wrapper
                ul.single-goods-wrapper(v-for="mainItem in navIdArr")
                    li
                        a(v-for="(proItem,index) in mainItem.typeGoods",v-if="index<4")
                            img(:src="proItem.goods_logo",style="width:100px;height:100px;overflow:hidden;")
                            span.bz
                        a.ltimg
                            img(src="../img/lt.png")
                            span.bz
                    li.baseInfo
                        p(v-text="mainItem.nav_name")
                        p 自取地址:
                            span 未来路金水路向东200米
                        .left-money-show ￥
                            span(v-text='mainItem.total_amount') 
                        .btn-buy(@click='goToGoodsDetail(mainItem.id)') 购买 
                

                
                    


    




