extends personCenter
block centerContent
    #app
        form#bankFormWrapper.layui-form(action="", style="display: none;font-size: 12px;padding:20px 10px;")
            .layui-form-item
                label.layui-form-label 提现金额
                                
                .layui-input-block
                    input.layui-input(type="text", name="money", required="", lay-verify="number", placeholder="请输入提现金额", autocomplete="off")
                           
            .layui-form-item
                label.layui-form-label 银行卡
                                 
                .layui-input-block
                    select.bankListWrapper(name="card_id", lay-verify="required")
                        option
                          
            .layui-form-item
                label.layui-form-label 支付密码
                                 
                .layui-input-block
                    input.layui-input(type="password", name="pay_pwd", required="", lay-verify="number", placeholder="请输入支付密码", autocomplete="off")
                          
            .layui-form-item
                .layui-input-block
                    .layui-btn(lay-submit="", lay-filter="addBank") 立即提交
        form#pay-detail-info.layui-form(style="display: none;font-size: 12px;padding:20px 10px;")
            .layui-form-item
                label.layui-form-label 名称
                .layui-input-block
                    input.layui-input(type="text",:value="orderObj.type==3?'生活日用品商品包':'充值'",readonly,style="border:none;")
            .layui-form-item
                label.layui-form-label 订单号
                .layui-input-block
                    input.layui-input(type="text",:value="orderObj.order_id",readonly,style="border:none;")
            .layui-form-item
                label.layui-form-label 时间
                .layui-input-block
                    input.layui-input(type="text",:value="filterTime(orderObj.time)",readonly,style="border:none;")
            .layui-form-item
                label.layui-form-label 金额
                .layui-input-block
                    input.layui-input(type="text",:value="orderObj.money",readonly,style="border:none;")
            .layui-form-item
                label.layui-form-label 交易流水
                .layui-input-block
                    input.layui-input(type="text",:value="orderObj.trade_no||''",readonly,style="border:none;")
            .layui-form-item(style="display:none;",v-show="orderObj.type==3")
                label.layui-form-label 使用代金券
                .layui-input-block
                    input.layui-input(type="text",value="未使用代金券",readonly,style="border:none;")
            .layui-form-item
                label.layui-form-label 交易状态
                .layui-input-block
                    input.layui-input(type="text",value="成功",readonly,style="border:none;")
        .my-baseInfo-wrapper
            .my-baseInfo-main
                .show-all-balance-area
                    span 余额:
                    em(v-text="userOrderArr.balance||0")
                    .btn-normal(@click="outputMoney(userOrderArr)",style="background:#47A4EB;") 提现
                    .btn-normal(@click="rechargeMoney",style="background:#FE550D;margin-right:290px;") 充值
                    span 债权金:
                    em(v-text="userOrderArr.queue_income||0")
                    .btn-big(@click="obligation2Balance") 债权金转余额
                .handle-balance-area(style="display:none;")
                    .biaozhi
                    .btn-big(@click="obligation2Balance") 债权金转余额
                    .btn-normal(@click="outputMoney(userOrderArr)")
                        img(src="../img/output.png")
                        | 提现
                    .btn-normal(@click="rechargeMoney")
                        img(src="../img/input.png")
                        | 充值
        .my-record-wrapper
            h3.my-title(@click="getMyRecommend")
                span 我的记录
            .table-wrapper
                .offcial-table
                    ul.tr-th.clearfix
                        li.th.w20 单号
                        li.th.w40 交易信息
                        li.th.w20 时间
                        li.th.w20 金额
                    ul.tr-td.clearfix(v-for="item in queueList")
                        li.th.w20(v-text="item.order_sn",@click="getMyRecommend(item.order_sn)")
                        li.th.w40(v-text="item.note")
                        li.th.w20(v-text="item.create_time")
                        li.th.w20(v-text="item.amount")
                .page
                    .tcdPageCode#pagecode
                        span(v-if="currentPage==1&&pageCount>1") 上一页
                        a(href='javascript:;',@click='prePage',v-else-if="pageCount>1") 上一页
                        a(href="javascript:;",v-for="n in pages",@click="pageClick(n)",:class="{current:currentPage==n}",v-text="n")
                        span(v-if="currentPage==pageCount&&pageCount>1") 下一页
                        a.nextPage(href="javascript:;",@click="nextPage",v-else-if="pageCount>1") 下一页