doctype html
html(style="min-height:100%;overflow:auto;")
    head
        meta(charset='utf-8')
        title 万店联盟e+便利
    body(style="padding-bottom:190px;position:relative;min-height:824px;")
        #app